.bannerHeading {
    text-align: center;
    background-color: gray;
    font-family: 'Monoton', cursive;
    }

.navBar {
    display: flex;
    background-color: peachpuff;
    justify-content: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.navBar h2 {
    padding: 0 1em;
}