<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <nav>
        <a href="/Home">Home</a>
        <a href="/Hotels">Add: Hotel</a>
        <a href="/Amenities">Add: Amenities</a>
        <a href="/Rooms">Add: Room Type</a>
        <a href="/HotelRooms">Add: Room to a Hotel</a>
        <a href="/RoomAmenities">View: Available Room Amenities</a>
    </nav>
    @RenderBody();
</body>
</html>
